@page
@model MilkShop.Pages.CustomerPages.EditCustomer

@{
    ViewData["Title"] = "Edit";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Customers</li>
    </ol>
</div>
<!-- Single Page Header End -->
<h1>Edit</h1>
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["SuccessMessage"]
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.UserId" />
            <div class="form-group">
                <label asp-for="Customer.UserName" class="control-label"></label>
                <input asp-for="Customer.UserName" class="form-control" />
                <span asp-validation-for="Customer.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.UserEmail" class="control-label"></label>
                <input asp-for="Customer.UserEmail" class="form-control" />
                <span asp-validation-for="Customer.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Status" class="control-label"></label>
                <input asp-for="Customer.Status" class="form-control" />
                <span asp-validation-for="Customer.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.CreatedDate" class="control-label"></label>
                <input asp-for="Customer.CreatedDate" class="form-control" />
                <span asp-validation-for="Customer.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PhoneNumber" class="control-label"></label>
                <input asp-for="Customer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.DateOfBirth" class="control-label"></label>
                <input asp-for="Customer.DateOfBirth" class="form-control" />
                <span asp-validation-for="Customer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Password" class="control-label"></label>
                <input asp-for="Customer.Password" class="form-control" />
                <span asp-validation-for="Customer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.PreferredLanguage" class="control-label"></label>
                <input asp-for="Customer.PreferredLanguage" class="form-control" />
                <span asp-validation-for="Customer.PreferredLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
